@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
.heading{
  font-family: Raleway;
  font-weight: 400;
  font-size: 42px;
  margin-top: 160px;
  margin-left: 100px;
}